<h1>I am in Show Task Page</h1>

<h1>Title: <%= @task.task_title %></h1>

<h2>Detail: <%= @task.task_detail %></h2>

<h2>Deadline: <%= @task.due_date %></h2>

<%= link_to "back", category_path(@category) %>
